@import "http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Maven+Pro";
/*COLORS*/
/*COLORS*/
/*------ ------ HEADER ------ ------*/
.navbar-nav li.active a {
  color: #5165A2 !important;
  background-color: #fff !important; }

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important; }

.navbar-brand {
  color: #fff !important; }

.navbar {
  margin-bottom: 0;
  background-color: #5165A2;
  z-index: 9999;
  border: 0;
  font-size: 18px !important;
  line-height: 1.5 !important;
  letter-spacing: 3px;
  border-radius: 0;
  color: #fff !important;
  padding: 6px 0 !important; }
  .navbar li a {
    color: #fff !important;
    height: 100%; }
    .navbar li a:hover {
      color: #5165A2 !important;
      background-color: #fff !important; }

/*------ ------ NAME ------ ------*/
.jumbotron {
  padding: 270px 0px;
  background-image: url("../images/fejsbuk.png"), linear-gradient(to right, #2D3E50 52%, #34495E 52%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  margin-bottom: 0; }

.card {
  height: 240px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden; }

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* IE 9 */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease; }
  .image:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.desc {
  color: #fff;
  position: relative;
  top: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 4px;
  font-size: 26px; }
  .desc a {
    width: 100%;
    display: inline-block;
    outline: none; }
    .desc a:visited, .desc a:link, .desc a:active, .desc a:hover {
      text-decoration: none;
      color: #fff; }

#ndv66-page {
  background-image: url("../images/fejsbuk.png"); }

#sw-tool {
  background-image: url("../images/sw.png"); }

#old-page {
  background-image: url("../images/old.png"); }

#rocket {
  background-image: url("../images/rocket.png"); }

/*COLORS*/
/*------ ------ ANIMATIONS ------ ------*/
.slideanim {
  visibility: hidden; }

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  visibility: visible; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%); } }
.slide-down {
  animation-name: slide-down;
  -webkit-animation-name: slide-down;
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s; }

footer .container {
  padding: 30px;
  background-color: transparent; }
  footer .container p {
    color: #8e8e8e; }

.glyphicon {
  font-size: 150px;
  color: #5165A2;
  margin-top: 40%; }

.container, .jumbotron {
  border-radius: 0 !important; }

.no-padding {
  padding: 0 !important; }

@media screen and (max-width: 778px) {
  .container-fluid {
    padding: 0px !important; } }
.skills-block {
  padding-bottom: 10px; }

body, html {
  height: 100%; }

body {
  background-color: #eaeded; }

/*------ ------ MAIN ------ ------*/
main {
  font-size: 20px;
  line-height: 1.8;
  font-family: 'Maven Pro', sans-serif; }
  main .container {
    background-color: #fff; }
  main h2 {
    letter-spacing: 3px;
    font-size: 40px; }
  main h4 {
    margin-bottom: 60px; }
  main #contact a:visited, main #contact a:link, main #contact a:active, main #contact a:hover {
    text-decoration: none;
    color: #5165A2; }

@media screen and (max-width: 767px) {
  .glyphicon {
    display: none; }

  main {
    font-size: 18px; } }

/*# sourceMappingURL=main.css.map */
