@import 'variables.scss';

/*------ ------ ANIMATIONS ------ ------*/

.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: $animate-time;
    -webkit-animation-duration: $animate-time;
    visibility: visible;
}
  
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
  
@-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}

.slide-down {
    animation-name: slide-down;
    -webkit-animation-name: slide-down;
    animation-duration: $animate-time;
    -webkit-animation-duration: $animate-time;
}