/*
    Background image is zooming when parent is hover.
    HTML example:
    ...
    <div class="parent-scale-background set-height-etc">
        <div id="here-come-background-image!" class="child-scale-background">
            bla bla bla
        </div>
    </div>
    ...
*/

@mixin scale($value) {
    -webkit-transform:scale($value);
    -moz-transform:scale($value);
    -ms-transform:scale($value);
    -o-transform:scale($value);
    transform:scale($value);
}

@mixin transition($value) {
    -webkit-transition: all $value ease;
    -moz-transition: all $value ease;
    -ms-transition: all $value ease;
    -o-transition: all $value ease;
    transition: all $value ease;
}

.parent-scale-background {
    overflow: hidden;
}

.child-scale-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include transition(1s);
    &:hover {
        @include scale(1.25);
    }
}