@import "variables.scss";

/*------ ------ FOOTER ------ ------*/
footer {    
    .container{
        padding: $padding-sides/4;
        background-color: transparent; 
        p {
            color: $pale-text;
        }
    }
}