.glyphicon {
    font-size: $icon-size;
    color: $theme-color;
    margin-top: $icon-margin-top;
}

.container, .jumbotron {
    border-radius: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

@media screen and (max-width: 778px) {
    .container-fluid {
        padding: 0px !important;
    }
}
