/*COLORS*/
$background: #fff;
$theme-color: #5165A2; //#839D2F; //#A5C63B;
$theme-light: #eaeded;
$theme-middle: #384C81;
$theme-second: #1dbef4;
$prime-text: #fff;
$text-color: #000;
$pale-text: #8e8e8e;
$gray: #c5d1d6;

$padding-sides: 60px;
$padding-topBottom: 120px;
$nav-text: 18px;
$letter-spacing: 3px;
$border-name-size: 1px;
$icon-size: 150px;
$icon-margin-top: 40%;
$normal-text: 20px;
$animate-time: 0.8s;
$h2-size: 40px;

