$background: #fff;
$theme-color: #5165A2;
$theme-light: #eaeded;
$theme-middle: #384C81;
$theme-second: #1dbef4;
$prime-text: #fff;
$text-color: #000;
$pale-text: #8e8e8e;
$gray: #c5d1d6;

$padding-sides: 60px;
$nav-text: 18px;
$letter-spacing: 3px;
$icon-size: 220px;
$icon-margin-top: 40%;
$normal-text: 20px;
$animate-time: 0.8s;
$h2-size: 40px;

