@import 'variables.scss';

.card {
    margin-bottom: 40px;
    
    .panel {
        $font-size: $normal-text - 2;       
        border-radius: 0px !important;
        
        &:hover, &:active {
            .panel-heading, .panel-footer {
                opacity: 1;                
            }
            .panel-body {
                color: $text-color;                
            }
        }    
        .panel-heading, .panel-footer {            
            background-color: $theme-color;  
            opacity: 0.6;
            color: $prime-text;
            h2 {
                font-size: $normal-text + 4;
                margin: 10px auto;
            }
        }    
        .panel-body {
            color: $pale-text;
            font-size: $font-size;
        }
        a {
            &:visited, &:link, &:active, &:hover {
                text-decoration: none;
                color: $prime-text;
            }
        }
    }     
}

