
/*------ ------ GLOBAL ------ ------*/
.margin-before {
    margin-top: 20px;
}

/*------ ------ GLYPHICON ------ ------*/
.glyphicon {
    font-size: $icon-size;
    color: $theme-color;
    margin-top: $icon-margin-top;
}