@import 'variables.scss';

/*------ ------ HEADER ------ ------*/
.navbar-nav li.active a {
      color: $theme-color !important;
      background-color: $background !important;
  }
  
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: $prime-text !important;
}

.navbar-brand {
    color: $prime-text !important;
}
  
.navbar {
    margin-bottom: 0;
    background-color: $theme-color;
    z-index: 9999;
    border: 0;
    font-size: $nav-text !important;
    line-height: 1.5 !important;
    letter-spacing: $letter-spacing;
    border-radius: 0;
    color: $prime-text !important;

    li a {
        color: $prime-text !important;
        &:hover {
            color: $theme-color !important;
            background-color: $background !important;
        }
    }    
}

/*------ ------ NAME ------ ------*/
.jumbotron {
    padding: $padding-topBottom + 20 $padding-sides;
    background-image: url('../back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    margin-bottom: 0;
    
    h1 {
        color: $prime-text;   
        span {
            border-bottom: $border-name-size solid $background;    
        }
    }
}

.no-padding {
    padding: 0 !important;
}


