@import "http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Maven+Pro";
@import "_variables.scss";
@import "_header.scss";
@import "_card.scss";
@import "_animation.scss";
@import "_footer.scss";
@import "_global.scss";
@import "_skills.scss";

body, html {
    height: 100%;
}

body {
    background-color: $theme-light;
}

/*------ ------ MAIN ------ ------*/
main {
    font-size: $normal-text;
    line-height: 1.8;
    font-family: 'Maven Pro', sans-serif;

    .container {
        background-color: $background;
    }

    h2 {
        letter-spacing: $letter-spacing;
        font-size: $h2-size;
    }

    h4{
        margin-bottom: $normal-text * 3;
    }

    #contact {
        a {
            &:visited, &:link, &:active, &:hover {
                    text-decoration: none;
                    color: $theme-color;
                }
            }
    }
}

@media screen and (max-width: 767px) {
    .glyphicon {
        display: none;
    }
    main {
        font-size: $normal-text - 2;
    }
}